{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags %}



{% block content %}
<div class="blog-container">

    <h1>{{ page.title }}</h1>
    
    {% with authors=page.authors.all %}
    
    {% if authors %}
    
    <div class="author-info">
        <h3>Written By:</h3>
        <div class="author-card">
            {% for author in authors %}
            <div class="author-image">
                {% image author.author_image fill-60x60 %}
                <span>{{ author.name }}</span>
            </div>
            {%endfor%}
        </div>
    </div>
    
    
    <p class="meta">Published on {{ page.date }}</p>
    {% endif %}

    {%endwith%}
    
    {{ page.body|richtext }}
    
    <p><a href="{{ page.get_parent.url }}">Return to {{page.get_parent}} </a></p>
</div>
    
{% endblock %}